:root {
	--dropdown-menu-max-height: 500px;
	--dropdown-border-color: #DCDCDC;
}

.elgg-menu-item-has-dropdown > .elgg-child-menu {
	display: none;
	max-height: var(--dropdown-menu-max-height);
	overflow-y: auto;
	position: fixed;
}

.elgg-menu-item-has-dropdown > .elgg-child-menu li {
	border-bottom: none;
}

.elgg-menu-item-has-dropdown > .elgg-child-menu li ul {
	border-bottom: 1px solid var(--dropdown-border-color);
}
.elgg-menu-item-has-dropdown > .elgg-child-menu li ul:last-of-type {
	border-bottom: none;
}
